.Menu {
    width:100%;
    list-style: none;
    border-style:solid;
    bottom:1px 0px 1px 0px;
    border-color:white;
}

.Menu-item{
width:20%;
display:inline-block;
}

body {
    background-color: green;
}