#lindseyCarousel {
 width:100%;
  justify-content:center;
}
 .ksllHeader{
 text-align:center; 
  width:100%;
}
.carousel-item{
 width:600px;
}

.KSLL {
 width:600px;
 text-center;
}

.KSLLBody, .card, .collapse{
  background-color:Pink;
 
}

.bgColor
{background-color:Pink;}

.vertical-text {
transform: rotate(90deg);
transform-origin: left top 0;
}
